{% extends '_base.html' %}

{% block title %}Change Avatar {{ block.super }}{% endblock %}

{% block content %}
{% include "account/_nav.html" with active="profile" %}

<h2>Change Avatar</h2>
<form method="post" action="{% url 'accounts:avatar' %}" enctype="multipart/form-data">
  {% csrf_token %}

  
  <div class="my-3">
    <img class="mb-2" src="{{ user.avatar.url }}" alt="Avatar of {{ user.username }}">
    <input type="file" class="form-control" id="id_avatar" name="avatar" />
  </div>

  <button type="submit" class="btn btn-primary btn-block">Change Avatar</button>
</form>

{% endblock content %}