{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Preferences {{ block.super }}{% endblock %}

{% block content %}
{% include "account/_nav.html" with active="preferences" %}

<h2>Edit Preferences</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="d-grid d-xl-block">
    <button class="btn btn-primary mt-5" type="submit">Edit Preferences</button>
  </div>
</form>
{% endblock content %}

{% block extra_js_tags %}
<script type="text/javascript">
  $("#id_default_syntax").select2({
    theme: "bootstrap-5",
    width: "auto",
  });
</script>
{% endblock extra_js_tags %}