{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile {{ block.super }}{% endblock %}

{% block content %}
{% include "account/_nav.html" with active="profile" %}

<h2>Edit Profile</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}

  <p class="form-label">Avatar</p>
  <div>
    <img src="{{ user.avatar.url }}" style="width: 143px;">
  </div>
  <a href="{% url 'accounts:avatar' %}" class="btn btn-secondary" style="border-radius: 0;">Change avatar</a>

  <button class="btn btn-primary btn-block mt-5" type="submit">Edit profile</button>
</form>
{% endblock content %}