{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile {{ block.super }}{% endblock %}

{% block content %}
<h2>Edit Profile</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}

  <p class="form-label">Avatar</p>
  <div class="">
    <img src="{{ user.avatar.url }}" style="width: 143px;">
  </div>
  <a href="{% url 'accounts:avatar' %}" class="btn btn-secondary mb-5" style="border-radius: 0;">Change avatar</a>

  <div class="d-flex justify-content-between">
    <button class="btn btn-primary" type="submit">Edit profile</button>
    <a href="{% url 'accounts:delete' %}" class="btn btn-danger">Delete account</a>
  </div>
</form>
{% endblock content %}