<div class="mt-5">
  <footer style="background-color: #deded5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963">
            footer content
          </h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
            ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
            repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
            sint!
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963">
            links
          </h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f">Frequently Asked Questions</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f">Delivery</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f">Pricing</a>
            </li>
            <li>
              <a href="#!" style="color: #4f4f4f">Where we deliver?</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1" style="letter-spacing: 2px; color: #818963">
            opening hours
          </h5>
          <table class="table" style="color: #4f4f4f; border-color: #666">
            <tbody>
              <tr>
                <td>Mon - Fri:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Sat - Sun:</td>
                <td>8am - 1am</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">PasteMate</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
