<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted p-2">
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-5 col-lg-6 col-xl-5 mx-auto mb-6">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-paste me-3"></i>PasteMate
          </h6>
          <p>
            PasteMate allows you to post text, which you can easily share with others. 
            With optional syntax highlighting for many programming languages, it makes a prefect fit for developers.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <p>
            <a href="{% url 'pastes:create' %}" class="text-reset">Create Paste</a>
          </p>
          <p>
            <a href="{% url 'pastes:archive' %}" class="text-reset">Archive</a>
          </p>
          <p>
            <a href="{% url 'pastes:syntax_languages' %}" class="text-reset">Languages</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Account links
          </h6>
          {% if user.is_authenticated %}
            <p>
              <a href="{% url 'accounts:profile_update' %}" class="text-reset">Edit profile</a>
            </p>
            <p>
              <a href="{% url 'account_change_password' %}" class="text-reset">Edit password</a>
            </p>
            <p>
              <a href="{% url 'account_email' %}" class="text-reset">Edit e-mail</a>
            </p>
            <p>
              <a href="{% url 'accounts:preferences' %}" class="text-reset">Edit preferences</a>
            </p>
          {% else %}
          <p>
            <a href="{% url 'account_signup' %}" class="text-reset">Sign Up</a>
          </p>
          <p>
            <a href="{% url 'account_login' %}" class="text-reset">Log In</a>
          </p>
          {% endif %}
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://stypik.pl">Kacper Stypik</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->