<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'pastes:create' %}">PasteMate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ user.get_absolute_url }}">My Pastes</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pastes:archive' %}">Archive</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'pastes:create' %}" class="nav-link btn btn-outline-success">Paste</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar" class="rounded-circle avatar-small">
            {{ user.username}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'accounts:profile_update' %}">Edit Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Edit Password</a></li>
            <li><a class="dropdown-item" href="{% url 'account_email' %}">Edit E-mail</a></li>
            <li><a class="dropdown-item" href="#">Edit Preferences</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'account_signup' %}" class="nav-link btn btn-outline-primary">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>