{% load pastes_tags %}
{% if public_pastes %}
  <ul class="list-group list-group-flush">
    {% for paste in public_pastes %}
      <li class="list-group-item">
        {% include "_includes/pastes_exposure_icons.html" %} <a href="{{ paste.get_absolute_url }}">{{ paste.title }}</a>
        <div class="text-muted text-small">
          <small>
            {{ paste.get_syntax_display }} |
            <span class="to-relative-datetime">{{ paste.created|date:"c" }}</span>
            | {{ paste.filesize|tokilobytes }}
          </small>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>There are no pastes yet.</p>
{% endif %}