{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}Confirm Thread Delete: {{ thread.subject }}{% endblock title %}

{% block content %}
<div>
    <h2>{{ thread.subject }}</h2>

    {% url "pinax_messages:thread_delete" thread.pk as post_url %}

    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete this thread?
    </div>

    <form action="{{ post_url }}" method="POST" class="mt-2">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url "pinax_messages:thread_detail" thread.pk %}" class="btn btn-link">Cancel</a>
    </form>
</div>
{% endblock %}