{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Pastes Archive {{ block.super }}{% endblock %}

{% block content %}
<h2>Pastes Archive {% if syntax %}for {{ syntax }}{% endif %}</h2>

<div class="alert alert-info">This page contains the most recently created public pastes.</div>

{% if pastes %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Added</th>
        <th scope="col">Syntax</th>
      </tr>
    </thead>
    <tbody>
      {% for paste in pastes %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{{ paste.get_absolute_url }}">{{ paste.title }}</a></td>
        <td><span class="to-relative-datetime">{{ paste.created|date:"c" }}</span></td>
        <td><a href="{% url 'pastes:syntax_archive' paste.syntax %}">{{ paste.get_syntax_display }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There are no pastes yet.</p>
{% endif %}


{% endblock content %}