{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load pastes_tags %}

{% block title %}
{% if not password_protected or password_correct %}{{ paste.title }}{% else %}Password protected paste{% endif %} {{ block.super }}
{% endblock title %}

{% block content %}
{% if burn_after_read and not paste.author == user %}
  <div class="alert alert-danger">
    This paste has been marked as Burn After Read by its author. After reading, it will be deleted.
  </div>
  {% if not password_protected %}
    <form action="{% url 'pastes:detail' paste.uuid %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-warning">Read and delete</button>
    </form>
  {% endif %}
{% endif %}
{% if password_protected and not password_correct %}
    <div class="alert alert-info">
      This paste is protected with password by its author. Enter it to unlock the access.
    </div>
    <form action="{% url 'pastes:detail_with_password' paste.uuid %}" method="post">
      {% csrf_token %}
      {{ password_form|crispy }}
      <button type="submit" class="btn btn-primary">Unlock the paste</button>
    </form>
{% endif %}
{% if not burn_after_read or paste.author == user and not password_protected or password_correct %}
    <h1>{{ paste.title }}</h1>
    <div class="row">
      <div class="col-md-1">
        <img src="{% if paste.author %}{{ paste.author.avatar.url }}{% else %}{{ MEDIA_URL }}default_avatar.png{% endif %}" alt="Paste Author Avatar" class="rounded-circle avatar-normal">
      </div>
      <div class="col align-self-center">
       Added by {% if paste.author %}<a href="{{ paste.author.get_absolute_url }}">{{ paste.author }}</a>{% else %}Anonymous{% endif %}
       &bull; Posted on <span title="{{ paste.created }}">{{ paste.created|date }}</span>
       &bull; Visits: {{ hitcount.total_hits }}
       &bull; Expires: 
        {% if paste.expiration_date %}
          <span class="to-relative-datetime text-capitalize">{{ paste.expiration_date|date:"c" }}</span>
        {% else %}
          Never
        {% endif %}
       {% if paste.author.location %}&bull; Location: {{ paste.author.location }}{% endif %}
       {% if paste.author.website %}&bull; Website: <a href="{{ paste.author.website }}">View</a>{% endif %}
      </div>
    </div>
    </p>
    <div>
      {% if user == paste.author %}
      <a href="{% url 'pastes:update' paste.uuid %}" class="btn btn-info">Edit</a>
      <a href="{% url 'pastes:delete' paste.uuid %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>

    <div class="card mt-4">
      <div class="card-header mb-3 d-flex">
        <div>
          <a href="{% url 'pastes:syntax_archive' paste.syntax %}">
            <span class="badge bg-secondary">{{ paste.get_syntax_display }}</span>
          </a>
        </div>
        <div class="mx-2">{{ paste.filesize|tokilobytes }}</div>
        <div class="ms-auto">
          <a href="#" class="toolbar-copy"><span class="badge bg-secondary">copy</span></a>
          {% if not paste.password or paste.burn_after_read %}
            <a href="{% url 'pastes:raw_detail' paste.uuid %}"><span class="badge bg-secondary">raw</span></a>
            <a href="{% url 'pastes:paste_download' paste.uuid %}"><span class="badge bg-secondary">download</span></a>
            {% if user.is_authenticated %}
              <a href="{% url 'pastes:clone' paste.uuid %}"><span class="badge bg-secondary">clone</span></a>
            {% endif %}
            {% if not paste.exposure == "PR" %}
              <a href="{% url 'pastes:embed' paste.uuid %}"><span class="badge bg-secondary">embed</span></a>
            {% endif %}
            <a href="{% url 'pastes:print' paste.uuid %}"><span class="badge bg-secondary">print</span></a>
            {% if user != paste.author %}
              <a href="{% url 'pastes:report' paste.uuid %}"><span class="badge bg-secondary">report</span></a>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {{ paste.content_html|safe }}
    </div>

    <h2 class="mt-4 h5">RAW Paste Data <a href="#" class="raw-copy">Copy</a></h2>
    <textarea class="form-control raw-paste-data" spellcheck="false">{{ paste.content }}</textarea>

{% endif %}
{% endblock content %}

{% block extra_js %}
    {% include "_includes/toolbar.js" %}
{% endblock extra_js %}