{% extends '_base.html' %}

{% block title %}
{{ title }} {{ block.super }}
{% endblock title %}

{% block content %}
<h1>{{ title }}</h1>
<p>Added by {% if paste.author %}<a href="#">{{ paste.author }}</a>{% else %}Anonymous{% endif %}</p>
<div>
  {% if user == paste.author %}
  <a href="{% url 'pastes:update' paste.uuid %}" class="btn btn-info">Edit</a>
  <a href="{% url 'pastes:delete' paste.uuid %}" class="btn btn-danger">Delete</a>
  {% endif %}
</div>

<div class="mt-4">
{% if paste.content_html %}
  {{ paste.content_html|safe }}
{% else %}
<pre>{{ paste.content }}</pre>
{% endif %}
</div>
{% endblock content %}