{% extends '_base.html' %}

{% block title %}Delete folder {{ folder.name }} {{ block.super }}{% endblock %}

{% block content %}
<h2>Are you sure you want to delete folder {{ folder.name }}?</h2>
<div class="alert alert-danger" role="alert">
  This action is irreversible!
</div>
<form method="post">
  {% csrf_token %}
  <button class="btn btn-danger" type="submit">Delete folder</button>
  <a href="{{ folder.get_absolute_url }}" class="btn btn-link">No, take me back</a>
</form>
{% endblock content %}