{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ action_type }} {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ action_type }}{% if paste %} {{ paste.title }}{% endif %}</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success mt-2" type="submit">{{ action_type }}</button>
</form>

{% if not user.is_authenticated %}
  <div class="alert alert-warning mt-3">You are not logged in. You won't be able to edit or delete the paste after creation. <a href="{% url 'account_signup' %}">Sign Up</a> or <a href="{% url 'account_login' %}">Login</a>.</div>
{% endif %}

{% endblock content %}

{% block extra_js %}
$("#id_syntax").select2({
  theme: "bootstrap-5",
});
{% endblock extra_js %}