{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Syntax Highlighting Languages {{ block.super }}{% endblock %}

{% block content %}
<h2>Syntax Highlighting Languages</h2>

<div class="row">
  {% for language in languages %}
    <div class="col-6 col-md-3">
      <div class="card mb-2">
        <div class="card-body d-flex justify-content-between">
        <div>{{ forloop.counter }} <a class="ms-2" href="{% url 'pastes:syntax_archive' language.syntax %}">{{ language.syntax }}</a></div>
        <div>{{ language.used }}</div>
      </div>
    </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}