{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ author }}'s Pastes {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ author }}'s Pastes {% if folder %}from {{ folder.name }} folder{% endif %}</h2>

<div class="d-flex align-items-center">
  <img src="{% if author %}{{ author.avatar.url }}{% else %}{{ MEDIA_URL }}default_avatar.png{% endif %}" alt="User Avatar" class="rounded-circle avatar-normal">
  <div class="ms-3">
    <span class="me-2">
      <i class="fa-solid fa-calendar me-1" title="User joined"></i> 
      <span title="{{ author.date_joined }}" class="to-relative-datetime">{{ author.date_joined|date:"c" }}</span>
    </span>
    <span class="me-2">
      <i class="fa-solid fa-eye me-1" title="Unique visits of this profile"></i> {{ total_hits }}
    </span>
    {% if author.location %}
      <span class="me-2">
        <i class="fa-solid fa-location-dot me-1" title="User's location"></i> {{ author.location }}
      </span>
    {% endif %}
    {% if author.website %}
      <span class="me-2">
        <i class="fa-solid fa-globe me-1" title="User's website"></i> 
        <a href="{{ author.website }}">{{ author.website}}</a>
      </span>
    {% endif %}
  </div>
</div>

{% if folder %}
  <div class="mt-2">
    <a href="{% url 'pastes:user_folder_edit' author.username folder.slug %}" class="btn btn-primary"><i class="fa-solid fa-folder"></i> Edit</a>
    <a href="{% url 'pastes:user_folder_delete' author.username folder.slug %}" class="btn btn-danger"><i class="fa-solid fa-folder"></i> Delete</a>
  </div>
{% endif %}

{% if user == author and not as_guest %}
<div class="alert alert-secondary mt-3">
  To see what other people see on your pastebin, <a href="?guest=1">click here</a>.
</div>

<div class="alert alert-secondary mt-3">
  If you want to backup your all pastes, <a href="{% url 'pastes:backup' %}">click here</a> to download an archive with them.
</div>

<div class="alert alert-info" role="alert">
  <b>Your stats</b>:
  <ul class="mb-0">
    <li>Total number of active pastes: {{ stats.total_pastes }}</li>
    <li>Number of public pastes: {{ stats.public_pastes }}</li>
    <li>Number of unlisted pastes: {{ stats.unlisted_pastes }}</li>
    <li>Number of private pastes: {{ stats.private_pastes }}</li>
  </ul>
</div>
{% endif %}

{% if pastes or folders %}
  {% if user == author %}
    {% include "_includes/pastes_search.html" %}
  {% endif %}
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Added</th>
        <th scope="col" class="d-none d-sm-table-cell">Expires</th>
        <th scope="col" class="d-none d-sm-table-cell">Syntax</th>
      </tr>
    </thead>
    <tbody>
      {% if folders %} 
        {% for folder in folders %}
        <tr>
          <td><i class="fa-solid fa-folder me-2" title="Folder. Only you can see it."></i> <a href="{% url 'pastes:user_folder' author.username folder.slug %}">{{ folder.name }}</a> ({{ folder.num_pastes }})</td>
          <td>{{ folder.created|date }}</td>
          <td class="d-none d-sm-table-cell"></td>
          <td class="d-none d-sm-table-cell"></td>
        </tr>    
        {% endfor %}
      {% endif %}
      {% for paste in pastes %}
      <tr>
        <td>
          {% include "_includes/pastes_exposure_icons.html" %}
          <a href="{{ paste.get_absolute_url }}">{{ paste.title }}</a>
        </td>
        <td>{{ paste.created|date }}</td>
        <td class="d-none d-sm-table-cell">
          {% if paste.expiration_date %}
            <span class="to-relative-datetime text-capitalize">{{ paste.expiration_date|date:"c" }}</span>
          {% else %}
              Never
          {% endif %}
        </td>
        <td class="d-none d-sm-table-cell"><a href="{% url 'pastes:syntax_archive' paste.syntax %}">{{ paste.get_syntax_display }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There are no pastes yet.</p>
{% endif %}

<nav aria-label="User's Pastes Navigation" class="mt-4">
  <ul class="pagination">
    <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
      <a class="page-link"{% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}"{% endif %} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% if page_obj.has_previous and page_obj.number > 5 %}
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      {% if page_obj.number > 6 %}
        <li class="page-item disabled"><a class="page-link">&#8230;</a></li>
      {% endif %}
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next and page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
      {% if page_obj.number < 6 %}
        <li class="page-item disabled"><a class="page-link">&#8230;</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
    {% endif %}
    <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
      <a class="page-link"{% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}"{% endif %} aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock content %}
