{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ author }}'s Pastes {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ author }}'s Pastes</h2>

<div class="row">
  <div class="col-md-1">
    <img src="{% if author %}{{ author.avatar.url }}{% else %}{{ MEDIA_URL }}default_avatar.png{% endif %}" alt="User Avatar" class="rounded-circle avatar-normal">
  </div>
  <div class="col align-self-center">
   Registered on <span title="{{ author.date_joined }}">{{ author.date_joined|date }}</span>
   {% if author.location %}&bull; Location: {{ author.location }}{% endif %}
   {% if author.website %}&bull; Website: <a href="{{ author.website }}">View</a>{% endif %}
  </div>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col"><i class="fa-solid fa-eye"></i></th>
      <th scope="col">Title</th>
      <th scope="col">Added</th>
      <th scope="col">Expires</th>
      <th scope="col">Syntax</th>
    </tr>
  </thead>
  <tbody>
    {% for paste in pastes %}
    <tr>
      <th scope="row">
        {% if paste.exposure == "PU" %}<i title="Public paste. Everyone can see it." class="fa-solid fa-globe"></i>{% endif %}
        {% if paste.exposure == "UN" %}<i title="Unlisted paste. Only people with link can see it." class="fa-solid fa-link"></i>{% endif %}
        {% if paste.exposure == "PR" %}<i title="Private paste. Only you can see it." class="fa-solid fa-lock"></i>{% endif %}
      </th>
      <td><a href="{{ paste.get_absolute_url }}">{{ paste.title }}</a></td>
      <td>{{ paste.created }}</td>
      <td>{{ paste.expiration_time }}</td>
      <td><a href="{% url 'pastes:syntax_archive' paste.syntax %}">{{ paste.get_syntax_display }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="User's Pastes Navigation" class="mt-4">
  <ul class="pagination">
    <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
      <a class="page-link"{% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}"{% endif %} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% if page_obj.has_previous and page_obj.number > 5 %}
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      {% if page_obj.number > 6 %}
        <li class="page-item disabled"><a class="page-link">&#8230;</a></li>
      {% endif %}
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next and page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
      {% if page_obj.number < 6 %}
        <li class="page-item disabled"><a class="page-link">&#8230;</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
    {% endif %}
    <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
      <a class="page-link"{% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}"{% endif %} aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock content %}
